[Unit]
Description=Podman NAT fix

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/iptables -P FORWARD ACCEPT

[Install]
WantedBy=multi-user.target