[submodule "dotconfig_files/hypr"]
	path = dotconfig_files/hypr
	url = https://github.com/7YV3R/hypr.git
[submodule "dotconfig_files/swaync"]
	path = dotconfig_files/swaync
	url = https://github.com/7YV3R/swaync.git
