[submodule "dotconfig_files/hypr"]
	path = dotconfig_files/hypr
	url = https://github.com/7YV3R/hypr.git
[submodule "dotconfig_files/swaync"]
	path = dotconfig_files/swaync
	url = https://github.com/7YV3R/swaync.git
[submodule "dotconfig_files/waybar"]
	path = dotconfig_files/waybar
	url = https://github.com/7YV3R/waybar.git
[submodule "dotconfig_files/wlogout"]
	path = dotconfig_files/wlogout
	url = https://github.com/7YV3R/wlogout.git
[submodule "dotconfig_files/wofi"]
	path = dotconfig_files/wofi
	url = https://github.com/7YV3R/wofi.git
